/* The following line can be included in a src/App.scss */

/* @import '~bootstrap/scss/bootstrap'; */

/* The following line can be included in your src/index.js or App.js file */
.selectBorder {
  padding-top: 3px;
}

.btnBorder {
  padding-left: 5px;
  padding-right: 5px;
}

.btnBorder:hover {
  cursor: pointer;
}

.screencenter {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.container {
  width: 950px;
}

.btn-clr {
  background-color: #3fb4ef;
}

.row {
  display: flex;
}

.header-blue {
  background-color: #dee7f4;
}

.header-green {
  background-color: #bbe6c9;
}

.box-green {
  background-color: #f4fbf5;
}

.box-border-top {
  border-top: 1px #ebebeb solid;
}
.row:hover {
  background-color: bisque;
}

.box-border-left {
  border-left: 1px #ebebeb solid;
}

.box-border-next {
  border-bottom: 1px #ebebeb solid;
  border-right: 1px #ebebeb solid;
}

.padd {
  padding-top: 25px;
  padding-bottom: 25px;
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-3 {
  flex: 3;
}
.flex-4 {
  flex: 4;
}

.left {
  justify-content: left;
}
.center {
  justify-content: center;
}
.box {
  display: flex;
  align-items: center;
}
